body{
  background-color:lightgray;

}
.head
{
  background-color:#2c5dbe;
  width: 100%;
  height:40px;
  position:fixed;
  top:0px;
  right:0px;
  z-index: -20;
}
#logo
{
  
  top:4px;
  left:65px;
  z-index: 20;
  position: absolute;

}
#search
{
  background-color: white;
  left:100px;
height:24px;
width:400px;
  top:12px;
  z-index: 56;
  font-family: verdana;
  color:gray    ;
}
#icon{
  left:356px;
  top:0px;
  position: absolute;

}
#profile
{
  left:600px;
  top:10px;
  font-family:verdana;
  color:white;
  width: 100px;
  height:20px;
  z-index: 56;
}
#home
{
  left: 720px;
  top :14px;
  color:white;
  z-index:56;
  width:100px;
  font-family: verdana;
  height:20px;

}

.content
{
  background-color:gray;
  z-index: 56;
  height:998px;
  width:300px;
  top:40px;
  left:0px;
  position:fixed;
  font-family:Verdana;
  color:black;
}
.feed2
{
  background-color:WHITE;
  z-index: -56;
  height:300px;
  width:500px;
  top:65px;
  left:302px;
  position:relative;
  border-radius: 4px;
  
}
.feed1
{
   background-color:WHITE;
  z-index: -56;
  height: 190px;
  width: 500px;
  top: 57px;
  left: 302px;
  position: relative;
  border-radius: 4px;
}        

.feed3
{
   background-color:white;
  z-index: -56;
  height: 100px;
  width: 500px;
  top: 77px;
  left: 302px;
  position: relative;
  border-radius: 4px;
}    
.feed4
{
   background-color:WHITE;
  z-index: -56;
  height: 250px;
  width: 500px;
  top: 90px;
  left: 302px;
  position: relative;
  border-radius: 4px;
}            
.feed5
{
   background-color:white;
  z-index: -56;
  height: 200px;
  width: 500px;
  top: 101px;
  left: 302px;
  position: relative;
  border-radius: 4px;
}   
.feed6
{
   background-color:WHITE;
  z-index: -56;
  height: 100px;
  width: 500px;
  top: 111px;
  left: 302px;
  position: relative;
  border-radius: 4px;
}            
.feed7
{
   background-color:WHITE;
  z-index: -56;
  height: 180px;
  width: 500px;
  top: 122px;
  left: 302px;
  position: relative;
  border-radius: 4px;
}         
.feed8
{
   background-color:WHITE;
  z-index: -56;
  height: 300px;
  width: 500px;
  top: 134px;
  left: 302px;
  position: relative;
  border-radius: 4px;
}         
.feed9
{
   background-color:WHITE;
  z-index: -56;
  height: 190px;
  width: 500px;
  top: 147px;
  left: 302px;
  position: relative;
  border-radius: 4px;
}         
.feed10
{
   background-color:WHITE;
  z-index: -56;
  height: 200px;
  width: 500px;
  top: 161px;
  left: 302px;
  position: relative;
  border-radius: 4px;
}         
.side1
{
  float:right;
  background-color: white;
  height:150px;
  width:350px;
  right:350px;
  position: absolute;
  top:70px;
  z-index: -57;
  border-radius: 4px;
}
.side2
{
  float:right;
  background-color:white;
  height:100px;
  width:350px;
  right:350px;
  position: absolute;
  top:240px;
  z-index: -57;
  border-radius: 4px;
}
.side3
{
  float:right;
  background-color:white;
  height:200px;
  width:350px;
  right:350px;
  position: absolute;
  top:360px;
  z-index: -57;
  border-radius: 4px;
}
.side4
{
  float:right;
  background-color:white;
  height:300px;
  width:350px;
  right:350px;
  position: absolute;
  top:570px;
  z-index: -57;
  border-radius: 4px;
}
#username
{
  left:110px;
  top:65px;
  font-family:verdana;
  color:black;
  width: 150px;
  height:30px;
  z-index: 56; 
}
#newsfeed{
  left:110px;
  top:112px;
  font-family: verdana;
  color:black;
  width:150px;
  height:30px;
  z-index:56;
}   
#watch             
{
  left:110px;
  top:146px;
  font-family: verdana;
  color:black;
  width:150px;
  height:30px;
  z-index:56;
}
#marketplace
{   left:110px;
  top:179px;
  font-family: verdana;
  color:black;
  width:150px;
  height:30px;
  z-index:56;
}   
.pages
{
  left:110px;
  top:210px;
  font-family: verdana;
  color:black;
  width:150px;
  height:30px;
  z-index:56; 
}
.side5{
  float:right;
  background-color:white;
  height:100px;
  width:350px;
  right:350px;
  position: absolute;
  top:880px;
  z-index: -57;
  border-radius: 4px;
}